<h3>Ingredients</h3>
<div id="new_ingredient"></div>
<ul id="ingredients_list" style="list-style: none;"> 
<% @recipe.ingredients.each do |@ingredient| %>
    <li id="<%= dom_id(@ingredient) %>">
      <%= render :partial => 'ingredients/show' %>
    </li>
<% end %>
  </ul>
<% unless params[:hide_costs] %>
  <p>Total:<span id="<%= dom_id(@recipe, 'total')%>"><%= number_to_currency(@recipe.cost) %></span></p>
<% end %>
