<h1>Editing recipe</h1>

<%= error_messages_for :recipe %>

<% form_for(:recipe, :url => recipe_path(@recipe), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', recipe_path(@recipe) %>