<h1>New Recipe</h1>

<%= error_messages_for :recipe %>
<p>Note: The ingredients and recipe method/directions will be entered on the next page</p>

<% form_for(:recipe, :url => recipes_path) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', recipes_path %>