<%= render :partial => 'navigation_ribbon' %>
<%= render :partial => 'title' %>
<%= render :partial => 'subtitle' %>
<div id="yui-main">
  <div class="yui-g">
    <div class="yui-u first">
      <%= render :partial => 'ingredients' %>
    </div>
    <div class="yui">
      <%= render :partial => 'instructions' %>
    </div>
  </div>
</div>
