<%= render :partial => 'layouts/doctype' %>
<head>
  <%= render :partial => 'layouts/head' %>
</head>
<body>
<div id="doc3" class="yui-t5">
  <div id="bd">
    
    <%= yield  %>
  </div>
</body>
</html>
